<!doctype html>
<html ng-app>
<head>

	<script type="text/javascript" src="scripts/app.js"></script>
	<script type="text/javascript" src="scripts/lib/angular.min.js"></script>
	<script type="text/javascript" src="scripts/controllers/TodoCtrl.js"></script>

	<link rel="stylesheet" href="styles/css/bootstrap.flatly.css">
	<link rel="stylesheet" href="styles/css/todo.css">
</head>
<body>
	<div ng-controller="TodoCtrl">
		[ <a href="" ng-click="doArchive()">archive</a> ]
		<ul class="unstyled">
			<li ng-repeat="todo in todos">
				<label class="checkbox">
					<input type="checkbox" ng-model="todo.done">
					<span class="done-{{todo.done}}">{{todo.text}}</span>
				</label>
			</li>
		</ul>
		<form ng-submit="addTodo()" class="form-inline">
			<input type="text" ng-model="todoText"  size="30" placeholder="Conquer the world">
			<input class="btn btn-primary" type="submit" value="add">
		</form>

		<small class="muted">{{remaining()}} of {{todos.length}} remaining</small>
	</div>
</body>
</html>