<!doctype html>
<html ng-app>
<head>
	<script type="text/javascript">
		window.$ = require('jquery');
	</script>

	<script type="text/javascript" src="scripts/app.js"></script>
  <script type="text/javascript" src="scripts/lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="scripts/lib/angular.min.js"></script>
	<script type="text/javascript" src="scripts/lib/snap.min.js"></script>
	<script type="text/javascript" src="scripts/todo.js"></script>

	<link rel="stylesheet" href="styles/css/bootstrap.flatly.css">
	<link rel="stylesheet" href="styles/css/app.css">
	<link rel="stylesheet" href="styles/css/todo.css">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">Project name</a>
      </div><!--/.container -->
    </div><!--/.nav-inner -->
  </div><!--/.navbar -->


  <div class="content container" ng-controller="TodoCtrl">
		<ul class="unstyled todo-items">
			<li ng-repeat="todo in todos">
				<label class="checkbox">
					<input type="checkbox" ng-model="todo.done">
					<span class="done-{{todo.done}}">{{todo.text}}</span>
				</label>
			</li>
		</ul>
		<form ng-submit="addTodo()" class="form-inline">
			<input type="text" ng-model="todoText" placeholder="Conquer the world">
			<button class="btn btn-primary" type="submit">Add</button>
		</form>

		<div>
			<small class="muted">{{remaining()}} of {{todos.length}} remaining</small>
			<small class="muted">[ <a href="" ng-click="doArchive()">archive</a> ]</small>
		</div>
	</div>
</body>
</html>