@import './variables';

html {
	font-size: 18px;
	line-height: 1.3em;

	&, & body {
		height: 100%;
	}
}

.app-menu {
	display: none;
	background: @navbarBackground;
	overflow-y: initial !important;

	li {
		border-bottom: 1px solid darken(@navbarBackground, 5%);

		& a { 
			color: @navbarLinkColor;
			font-size: 1rem;
			padding: 10px;
			display: block;
		}

		& a:hover {
			color: @navbarLinkColorHover;
			text-decoration: none;
		}

	}
}

#app-menu-trigger {
	float: left !important;
}

// nothing below this
* {border-radius: 0 !important;}